:root {
  --main-color: #212121;
  --second-color: #757575;
  --hover-color: #2196f3;
  --white-color: #ffffff;
  --partlogo-color: #2196f3;
  --black-color: #000000;
  --header-background: #ffffff;
  --hero-footer-background: #2f303a;
  --hero-button-bg: #2196f3;
  --portfolio-button-bg: #f5f4fa;
  --social-color:#AFB1B8;
  --hover-button: #188CE8;
}

/*  style reset */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--main-color);
  padding-top: 60px;
}
@media screen and (max-width: 767px) {
  .body {
    padding-top: 60px;
  }
}
@media screen and (min-width: 767px) {
  .body {
    padding-top: 80px;
  }
}

.items {
  list-style: none;
}

.link {
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect 0 0 0 0;
  overflow: hidden;
}

.header__button--mobmenu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 4;
  fill: var(--main-color);
}
@media screen and (min-width: 768px) {
  .header__button--mobmenu {
    display: none;
  }
}

.header__button--mobmenu:hover,
.header-nav__icon--open:focus {
  fill: var(--hover-button);
}

.header-nav__icon--close {
  display: none;
}

.header__button--mobmenu.is-open .header-nav__icon--close {
  display: inline-block;
  fill: var(--main-color);
}

.header-nav__icon--close:hover,
.header-nav__icon--close:focus {
  fill: var(--hover-button);
}

.header__button--mobmenu.is-open .header-nav__icon--open {
  display: none;
}

.hero__button {
  display: inline-block;
  min-width: 200px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  background: var(--hero-button-bg);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  font-family: inherit;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    min-width: 216px;
  }
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--hover-button);
}

.subscribe__button {
  min-width: 200px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: transparent;
  padding: 10px 28px;
  margin-left: 12px;
  background: var(--hero-button-bg);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  font-family: inherit;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__button:hover, .subscribe__button:focus {
  background-color: var(--hover-button);
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu__button {
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  border: none;
  background: var(--portfolio-button-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--main-color);
  cursor: pointer;
  font-family: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button:hover, .menu__button:focus {
  background: var(--hero-button-bg);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.checkbox__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 216px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background: var(--hero-button-bg);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  font-family: inherit;
  cursor: pointer;
}
.checkbox__button:hover, .checkbox__button:focus {
  background: var(--hover-button);
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.benefits__subtitle {
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
@media screen and (min-width: 768px) {
  .benefits__subtitle {
    width: 354px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__subtitle {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .main-portfolio__subtitle {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .main-portfolio__subtitle {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }
}

.team__title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.team-profile__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.footer__subtitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  content: "";
}

.exsamples__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.form__title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.15;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 500ms, visibility 2500ms;
  transition: opacity 500ms, visibility 2500ms;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.modal {
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
  left: 50%;
  top: 50%;
  background: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 450px;
  max-height: 609px;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__close--sign {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__icon {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--black-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--white-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 6px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon:hover, .modal__icon:focus {
  fill: var(--hover-color);
}

.modal-form {
  padding: 40px;
}

.form__field {
  display: block;
}

.form__input--wrapper {
  position: relative;
  margin-bottom: 10px;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--second-color);
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  outline: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  border-color: var(--hover-color);
}
.form__input::-webkit-input-placeholder {
  content: "";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input::-moz-placeholder {
  content: "";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input:-ms-input-placeholder {
  content: "";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input::-ms-input-placeholder {
  content: "";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input::placeholder {
  content: "";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.form__input:hover + .form__icon, .form__input:focus + .form__icon {
  fill: var(--hover-color);
}

.textarea {
  padding: 12px 40px;
  resize: none;
  width: 370px;
  height: 138px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-style: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 10px;
}
.textarea:hover, .textarea:focus {
  border-color: var(--hover-color);
}
@media screen and (min-width: 1200px) {
  .textarea {
    padding: 12px 16px;
    width: 448px;
    height: 120px;
    margin-bottom: 20px;
  }
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.checkbox__input:checked + .checkbox__label .form__icon--wrapper {
  background-color: var(--hover-color);
  border: none;
}
.checkbox__input:checked + .checkbox__label .form__icon--policy {
  fill: var(--white-color);
}

.form__icon--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-color);
  border-radius: 2px;
  margin-right: 8px;
}

.form__icon--policy {
  fill: transparent;
  width: 100%;
  height: 100%;
}

.checkbox__label--link {
  margin-left: 5px;
  color: var(--hover-color);
}

.header {
  border: 1px solid #ececec;
  background: var(--header-background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 60px;
  padding: 10px 15px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header-nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.header__accent--blue {
  color: var(--partlogo-color);
}

.header__accent--black {
  color: var(--black-color);
}

.header-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  display: block;
  color: var(--main-color);
}
.header-nav__link:hover, .header-nav__link:focus {
  color: var(--hover-color);
}
@media screen and (min-width: 768px) {
  .header-nav__link {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
  }
}

.header-nav__list {
  margin: -32px;
}
@media screen and (min-width: 768px) {
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -25px;
  }
}
@media screen and (min-width: 768px) {
  .header-nav__list {
    margin: -26px;
  }
}

.header-nav__item {
  cursor: pointer;
  height: calc((100% - 192px) / 3);
  margin: 32px;
}
@media screen and (min-width: 768px) {
  .header-nav__item {
    position: relative;
    width: calc((100% - 150px) / 3);
    margin: 25px;
    text-align: center;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav__item {
    width: calc((100% - 156px) / 3);
    margin: 26px;
    text-align: center;
    width: 100%;
  }
}

.header__current {
  color: var(--hover-color);
}
@media screen and (min-width: 768px) {
  .header__current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 2px;
    bottom: 0;
    left: 0;
  }
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .header-list {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-list__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--second-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list__mail:hover + .header-list__icon--email:hover, .header-list__mail:focus + .header-list__icon--email:focus {
  color: var(--hover-color);
  fill: var(--hover-color);
}
@media screen and (min-width: 768px) {
  .header-list__mail {
    fill: var(--second-color);
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .header-list__mail {
    margin-bottom: 0;
    margin-right: 40px;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.header-list__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--hover-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list__tel:hover + .header-contacts__icon--smartphone:hover, .header-list__tel:focus + .header-contacts__icon--smartphone:focus {
  color: var(--hover-color);
  fill: var(--hover-color);
}
@media screen and (min-width: 768px) {
  .header-list__tel {
    color: var(--second-color);
    fill: var(--second-color);
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .header-list__tel {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.contact-icon {
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__container {
  text-align: center;
  padding: 48px 40px;
  background-color: var(--white-color);
}
@media screen and (max-width: 767px) {
  .mobile-menu__container {
    height: 796px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .mobile-menu__container.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu__container {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.navigation {
  text-align: left;
  margin-bottom: 309px;
}
@media screen and (min-width: 768px) {
  .navigation {
    margin-bottom: 0px;
    margin-right: 99px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-right: 290px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.social-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}
@media screen and (min-width: 767px) {
  .social-mobile {
    display: none;
  }
}

.social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--hover-color);
}

.mobile-socials__item {
  margin-right: 20px;
}

.mobile-socials__item {
  position: relative;
}
.mobile-socials__item:not(:last-child) ::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 1px;
  bottom: 50%;
  background-color: var(--hover-color);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hero {
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
  max-width: 1600px;
  height: 400px;
  background: var(--hero-footer-background);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: "";
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/1x_m_hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/1x_m_hero.jpg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/1x_t_hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/1x_t_hero.jpg);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/2x_m_hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/2x_m_hero.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0;
    max-width: 768px;
  }
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/2x_t_hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/2x_t_hero.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/1x_d_hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/1x_d_hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/2x_d_hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/2x_d_hero.jpg);
  }
}

.benefits {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
.benefits__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  width: 450px;
  background: #F5F4FA;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "";
}
@media screen and (min-width: 768px) {
  .benefits__icons {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__icons {
    width: 270px;
  }
}

.benefits__desc {
  max-width: 450px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
@media screen and (min-width: 768px) {
  .benefits__desc {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__desc {
    max-width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .main-portfolio {
    display: none;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .main-portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .main-portfolio__item {
    position: relative;
  }
  .main-portfolio__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .main-portfolio__names {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
  }
}

@media screen and (min-width: 1200px) {
  .main-portfolio__name {
    width: 370px;
    height: 70px;
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    padding: 27px 0px;
    bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .main-portfolio__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.team {
  padding: 60px 0;
  background: var(--portfolio-button-bg);
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team__list {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: -15px;
  }
}

.team__item {
  width: 450px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  border-top: none;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.team-profile__desc {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.team-profile {
  padding: 30px 10px;
  background: var(--white-color);
}

.team__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icons__item {
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  margin-right: 10px;
  content: "";
}
.social-icons__item:last-child {
  margin-right: 0;
}

.social-icons__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--social-color);
  content: "";
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--hero-button-bg);
}

.social-icons__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__icon:hover, .social-icons__icon:focus {
  color: var(--white-color);
}

.clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.client__item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
  height: 92px;
  background-color: var(--white-color);
  border-radius: 4px;
  content: "";
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 90px) / 3);
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 180px) / 6);
    height: 92px;
  }
}

.client__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  content: "";
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  color: var(--partlogo-color);
  border-color: var(--partlogo-color);
}

.client__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding: 60px 0;
  background: var(--hero-footer-background);
}

.footer__container {
  width: 480px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

.footer__contacts {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}

.footer__accent--first {
  color: var(--partlogo-color);
}

.footer__accent--second {
  color: var(--white-color);
}

.footer__address {
  text-decoration: none;
  font-style: normal;
}

.footer__link--map {
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--white-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link--map:hover, .footer__link--map:focus {
  color: var(--hover-color);
}

.footer__link--mail {
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__link--mail:hover, .footer__link--mail:focus {
  color: var(--hover-color);
}

.footer__link--tel {
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__link--tel:hover, .footer__link--tel:focus {
  color: var(--hover-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-social {
  margin-bottom: 60px;
}

.footer-social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-social__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-social__item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  content: "";
}
.footer-social__item:last-child {
  margin-right: 0;
}

.footer-social__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: var(--white-color);
  content: "";
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--hero-button-bg);
}

.footer-social__icon {
  fill: currentColor;
}

.menu {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .menu {
    padding: 94px 0;
  }
}

.menu__list {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .menu__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

.exsamples__list {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .exsamples__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.exsamples__item {
  width: 450px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .exsamples__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .exsamples__item {
    width: calc((100% - 90px) / 3);
  }
}

.exsamples__desc {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.exsamples__img {
  display: block;
  max-width: 100%;
  height: 294px;
}

.exsamples__about {
  border: 1px solid rgb(238, 238, 238);
  border-top: none;
  padding: 20px 0 20px 24px;
}

.exsamples__click {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.exsamples__click:hover, .exsamples__click:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.exsamples__click:hover .exsamples__text--hover, .exsamples__click:focus .exsamples__text--hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.exsamples__click .exsamples__img--wrapper {
  content: "";
  position: relative;
  overflow: hidden;
}
.exsamples__click .exsamples__text--hover {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white-color);
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  min-width: 450px;
  height: 50px;
  background-color: var(--hero-footer-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.subscribe__input:hover, .subscribe__input:focus {
  border-color: var(--second-color);
  outline: none;
}
.subscribe__input::-webkit-input-placeholder {
  content: "";
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 15px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-moz-placeholder {
  content: "";
  display: flex;
  align-items: center;
  padding: 15px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  content: "";
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 15px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-ms-input-placeholder {
  content: "";
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 15px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    min-width: 358px;
    margin-bottom: 0;
  }
}

.subscribe__icon {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */