.team {
  padding: 60px 0;
  background: var(--portfolio-button-bg);
 
  @media screen and (min-width:1200px) {
    padding: 94px 0;
  }
}

  .team__list {
    margin-right: auto;
    margin-left: auto;

 @media screen and (min-width:768px){ 
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
    }
    @media screen and (min-width:1200px){ 
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: -15px;
    }
  }
  
  .team__item {
    
    width: 450px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    border-top: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
margin-bottom: 30px;

      
 @media screen and (min-width:768px){
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
      }


      @media screen and (min-width:1200px){
        width: 270px;
        width: calc((100% - 8 * 15px) / 4);
        margin: 15px;
      }
  }

  
  .team-profile__desc {
    margin-bottom: 16px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--second-color);
  }
  
  .team-profile {
    padding: 30px 10px;
    background: var(--white-color);
  }
  
  .team__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons__item {
    width: 44px;
    height: 44px;
    background-color: var(--white-color);
    margin-right: 10px;
    content: "";

 &:last-child{
      margin-right: 0;
    }
  }
  
  
  .social-icons__link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--social-color);
    content: "";
    transition: color  250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  
  &:hover,
  &:focus{
    background-color: var(--hero-button-bg);
  }
}
  
  .social-icons__icon{
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
    color: var(--white-color);
  }
}